/* main logo  */

.main-logo {
  background-color: #1c1c1c;
  color: #ffffff;
  display: grid;
  align-items: center;
  line-height: 54px;
}
/* main logo width & height */

.main-logo-w-h {
  width: 180px;
  height: 38px;
}

/* main logo btn */

.btn-success {
  background-color: #6f9a37;
  border: 1px solid #6f9a37;
}
.btn-success:hover {
  background-color: #6f9a37bd;
  border: 1px solid #6f9a37bd;
}

/* display flex end btn-success */

.display-end {
  display: flex;
  justify-content: end;
}

/* full layout border */

.border-1 {
  border: 1px solid #000000;
  padding: 14px 16px;
  border-left: none;
  margin-bottom: -1px !important;
}

/* background-1 color White */

.background-1 {
  background-color: #ffffff;
  color: #000000;
}

/* margin-left icon 15px */

.margin-left {
  margin-left: 15px;
}

/* logo font-size And font-size-2 */
.font-size {
  font-size: 3em;
}
.font-size-2 {
  font-size: 10em;
}

/* image width 80% margin-left And Right */
.image-right {
  width: 80%;
  margin-top: 64px;
  margin-left: 120px;
}

/* image width And height */

.image-1 {
  width: 438px;
  height: 554px;
}

/* display flex */

.display-flex {
  display: flex;
  justify-content: space-between;
}

/* Display Center */

.display-center {
  display: flex;
  justify-content: center;
}

/* btn-outline-dark */

.btn-outline-dark {
  padding: 10px 50px;
}

/* image-2 */

.image-2 {
  width: 200px;
  height: 180px;
}

/* display grid */

.display-grid {
  display: grid;
  align-items: center;
}

/* link */

.link {
  text-decoration: none;
  color: #000000;
}
.link:hover {
  color: #000000ad;
  text-decoration: underline;
}
.link-2:hover {
  color: #ffffff;
  text-decoration: underline;
}

/* text none */

.text-decoration {
  text-decoration: none;
}
.text-decoration:hover {
  text-decoration: none;
}

/* list */

.list {
  list-style-type: none;
}

/* Go to Top */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #000000;
}

/* Media-Btn Hover */

.media-btn:hover {
  background-color: #000000;
  color: #ffffff;
}
.media-btn:hover h4 {
  color: #ffffff;
}
.media-btn {
  background-color: #ffffff;
  color: #000000;
}
.media-btn h4 {
  color: #000000;
}

/* Media Screen */

@media screen and (max-width: 1024px) {
  .flex-direction {
    flex-direction: column;
  }

  .font-size-2 {
    font-size: 4em;
  }
  .image-right {
    margin-top: 0px;
    margin-left: 0px;
  }
  .videos {
    width: 450px;
    height: 350px;
  }
  .display-end {
    display: flex;
    justify-content: flex-start;
  }
}
